@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

//Resets
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}

//Variables

//Colors
$white: #fff;
$darkCyan: #00252e;
$lightPink: #ff52c1;
$grayishBlue: #808e9a;

//Fonts
$headingFont: "Poppins", sans-serif;
$bodyFont: "Open Sans", sans-serif;

//Body
body {
	font-family: $bodyFont;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2.1rem;
	color: $grayishBlue;
}

//Typography
h1,
h2,
h3 {
	font-family: $headingFont;
	font-weight: 600;
	color: $darkCyan;
}

h1 {
	font-size: 2.4rem;
	line-height: 3.6rem;
}

h2 {
	font-size: 2rem;
	line-height: 3rem;
}

h3 {
	font-size: 1.8rem;
	line-height: 3rem;
}

//Mixins
@mixin flex($justify, $align) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

@media screen and (min-width: 992px) {
	//Body
	body {
		font-size: 1.8rem;
		line-height: 2.7rem;
	}

	//Typography
	h1 {
		font-size: 4rem;
		line-height: 4rem;
	}

	h2 {
		font-size: 2.8rem;
		line-height: 4.2rem;
	}

	h3 {
		font-size: 3.2rem;
		line-height: 6rem;
	}

	a {
		font-size: 1.4rem;
		line-height: 2.7rem;
	}
}
